snippet fig "Figure env" b
\begin{figure}[htbp]
    \centering
    \includegraphics[width=${1:\linewidth}]{${2:path}}
    \caption{${3:caption}}
    \label{fig:${4:label}}
\end{figure}
endsnippetndsnippet
